.containerMediaEditor{
    display: grid;
    gap:20px
}
.mediaItems{
    display: grid;
    max-height: 500px;
gap: 10px;
    grid-template-columns: repeat(2, fit-content(200px));
    overflow: auto;
}
.uploadImage{
    display: grid;
    gap: 10px;
    width: fit-content;
    grid-auto-flow: column;
}
.cardImage{
    display: grid;
    gap: 10px;
grid-auto-flow: column;
}
.describe{
    display: grid;
}
.containerActions{
    display: grid;
}
.iconDelete{
    color: red;
    font-size: 1.5em;
    cursor: pointer;
    height: fit-content;
}

.iconCopy{
    font-size: 1.3em;
    cursor: pointer;
}